extends layout

block layout-content
  div.View
    h1.Banner Demo Trial
    div.Message
      div.Title
        h3 Version 1
        h1 OS version = #{osPlatform} #{osRelease}
    div.Message  
      div.Title
        h3 Version 2
        p Xendit - Trial - #{candidateName} - #{trialStartDate} - #{currentDate}
    div.NavButtons
      a(href="/status")
        div.NavButton CPU Usage