extends layout

block layout-content
  div.View
    h1.Banner Demo Trial
    div.Message
      div.Title
        h3 Version 1
        h1 OS version = #{OSPlatform} #{OSRelease}
    div.Message  
      div.Title
        h3 Version 2
        p Xendit - Triall - #{candidate_name} - #{trial_start_date} - #{current_date}
    div.Message
      div.Title
        h3 Version 3
        h1 CPU Usage 
    div.NavButtons
      a(href="/status")
        div.NavButton CPU Usage
